.imgDisplay {
  	 font-size:12px;
}

.imgDisplay li {
     display: inline-block;
  	 text-align:center;
}
img{
	 height:80px;
  	 width:80px;

}
h2{
	text-align:center;
}
h3{
	font-size:15px;
	
}
.setItemAndBrand div{
	float:left;
	width:50%;
	height:150px;
	
}

.productFootBar{
	text-align:right;
}

.opration{
	height:50px;
	width:100px;
	margin-right:150px;
	font-size:20px;
	
	border:1px;
}
.opration:hover{
	background-color:#e6d6d6;	
	font-weight:bold;
}
.opration:active{
	background-color:#daa993;
	
}
.opration:disabled{
	background-color:gray;
}

.saveWeight{
	height:35px;
	width:60px;
	border:1px;
	font-size:15px;	
	margin-left:10px;
}
.saveWeight:hover{
	background-color:#e6d6d6;	
	font-weight:bold;	
}
a{
	display:block;
}

.selected{
	background-repeat:no-repeat;
	background-position:center;
	background-color:rgba(0, 0, 0, 0.09);
	border:1px dashed black;
}
.cover{
	width:80px;
	height:80px;
	display:block;
	position:absolute;
	background-color:rgba(0, 0, 0, 0.09);
	z-index:1; 
	top:0; 
	left:0;
}
.ok_png{
	width:32px;
	height:32px;
	margin-top:24px;
}

.toSetInput{
	width:100px;
	text-align:center;
	color:gray;
	readonly:expression(this.readOnly=true);
}

.toSetInput:hover{
	color:black;
}
.toSetInput:focus{
	color:black;
}
#skuTable td{
	text-align:center;

}









