 .panel
 {background:none; border:none;}  /* 此处删去 overflow:auto; 修复在谷歌浏览器中panel之间存在间隙*/
 .panel-header
 { 
    background: #859cc9 ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; border:none; 
	height:20px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#859cc9,endColorstr=#859cc9,GradientType=0);
} 
.layout-button-left {
  background: url('../../images/systemImage/shou.png') no-repeat 0 0;
}
.layout-button-right {
  background: url('../../images/systemImage/suo.png') no-repeat 0 0;
}
#back
{
    background: url(../../images/systemImage/mainBackground2.png) repeat center center fixed;min-height:100%; height:auto;width:100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; border:none; 

}
.panel-body
{ 
background: url(../../images/systemImage/mainBackground2.png) repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; border-width: 0px 0px 1px 0px ; border-color:#e6eef8; 
   height:100%;
	width:100%;
    overflow-y:auto;
	
 } 

 .panel-title
 { 
 color:White;
   } 
.tabs {
  list-style-type: none;
  height: 26px;
  margin: 0px;
  padding: 0px;

  width: 50000px;
  border-style: solid;
  border-width: 0 0 0px 0;
}
.window .window-header
{
 background:#BCBCBC;
}
.tabs li {

  float: left;
  display: inline-block;
  margin: 0 0px 0px 0;
  padding: 0;
  position: relative;
  border: 0;
}
.tabs li a.tabs-inner {
 
  display: inline-block;
  text-decoration: none;
  margin: 0;
 
  height: 23px;
  line-height: 23px;
  text-align: center;
  white-space: nowrap;
  border-width:0px  0px   0px 1px  ;
  border-style: solid;
  -moz-border-radius: 0px 0px 0 0;
  -webkit-border-radius: 0px 0px 0 0;
  border-radius: 0px 0px 0 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#859cc9,endColorstr=#859cc9,GradientType=0);
 

}
.tab-panel
{
	 text-align: center;
}
.tabs-header {

height:auto;
 background-color:#859cc9;
 

 }
.tabs-header-left .tabs li {

  margin: 0;
 
}
.combo-panel
{
background:none;
background:White;
}
.datagrid-cell-group {
  text-align: center;
  vertical-align:middle;
  
}
 body
 {
  	background: url(../../images/systemImage/loginBack.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	 position:absolute;
    top:0;
     left:0;
	 height:100%;
     width:100%;
 
 }
.pagination-info
 {
    margin-right:20px;
 }
 .panel-tool-close {
  background: url('../../images/systemImage/panel_tools.png') no-repeat -16px 0px;
}
.panel-tool-min {
  background: url('../../images/systemImage/panel_tools.png') no-repeat 0px 0px;
}
.panel-tool-max {
  background: url('../../images/systemImage/panel_tools.png') no-repeat 0px -16px;
}
.panel-tool-restore {
  background: url('../../images/systemImage/panel_tools.png') no-repeat -16px -16px;
}
.panel-tool-collapse {
  background: url('../../images/systemImage/panel_tools.png') no-repeat -32px 0;
}
.panel-tool-expand {
  background: url('../../images/systemImage/panel_tools.png') no-repeat -32px -16px;
}
   .messager 
   {
   
    background-image:none;background:Red;
    color:Black;
   }
  .messager-header
  {
   
   background-image:none;background-color:Red;
  }
   .messager-title
  {
   
  color:Black;
  }
 .messager-body
 {
  background-image:none;background:#fff;
 }
 #top-right a:hover
 {
  	background:none;
  	Opacity:0.5;
 } 
#top-right #logout_id{
 	cursor:pointer;
 	-moz-box-shadow: 0px 9px 0px rgba(0,0,0,1), 0px 9px 25px rgba(0,0,0,.7);
 }
 #top-right #logout_id:active{
 	-moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 1px;
 } 
	*{margin:0;padding:0;}
	#pop{ background-image:none;background:#fff;width:260px;border:1px solid #e0e0e0;font-size:12px;position: fixed;right:10px;bottom:10px;}
	#popContent{padding:5px 10px;background:none;background:#fff;}
	#popTitle a{line-height:24px;font-size:14px;font-family:'微软雅黑';color:Black;font-weight:bold;text-decoration:none;}
	#popTitle a:hover{color:#f60;}
	#popIntro{text-indent:24px;line-height:160%;margin:5px 0;color:#666;}
	#popMore{text-align:right;border-top:1px dotted #ccc;line-height:24px;margin:8px 0 0 0;}
	#popMore a{color:#f60;}
	#popMore a:hover{color:#f00;}
	/*
	右键菜单样式
	*/
	div#rMenu {position:absolute; visibility:hidden; top:0; background-color:#fff;text-align: left;padding: 2px;z-index: 1000}
	div#rMenu ul li{
			margin: 1px 0;
			padding: 0 5px;
			cursor: pointer;
			list-style: none outside none;
			background-color:#e1e1e1;
		}
	 /*
	   快捷菜单按钮
	 */
		.savebutton{
			width: 100px;
			line-height: 38px;
			height:40px;
			text-align: center;
			font-weight: bold;
			color: #fff;
			text-shadow:1px 1px 1px #333;
			border-radius: 5px;
			position: relative;
			overflow: hidden;
  			text-decoration: none; 
  			display:block;
		}
		.savebutton.blue{
			border:1px solid #1e7db9;
			box-shadow: 0 1px 2px #8fcaee inset,0 -1px 0 #497897 inset,0 -2px 3px #8fcaee inset;
			background: -webkit-linear-gradient(top,#42a4e0,#2e88c0);
			background: -moz-linear-gradient(top,#42a4e0,#2e88c0);
			background: linear-gradient(top,#42a4e0,#2e88c0);
		}
		.blue:active{
			box-shadow: 0 1px 3px #114566 inset,0 3px 0 #fff;
			background: -webkit-linear-gradient(top,#1a71a8,#1976b1);
			background: -moz-linear-gradient(top,#1a71a8,#1976b1);
			background: linear-gradient(top,#1a71a8,#1976b1);
		}
		
		.blue:hover{
			background: -webkit-linear-gradient(top,#70bfef,#4097ce);
			background: -moz-linear-gradient(top,#70bfef,#4097ce);
			background: linear-gradient(top,#70bfef,#4097ce);
		}
		/*
	  	 左右箭头以及承载的盒子
	 	*/
		.box{ width:800px; margin:0 auto; position:relative; overflow:hidden; _height:100%;}
		.picbox{ width:760px; height:57px; overflow:hidden; position:relative;margin-left: 18px;}
		.piclist{ height:38px;position:absolute; left:0px; top:0px;}
		/* .piclist li{ background:#eee; margin-right:20px; padding:5px; float:left;} */
		.swaplist{ position:absolute; left:-3000px; top:0px}
		.og_prev,.og_next{ width:30px; height:50px; background:url(../images/icon.png) no-repeat; background:url(../images/icon_ie6.png) no-repeat\9; position:absolute; top:33px; z-index:99; cursor:pointer;filter:alpha(opacity=70); opacity:0.7;}
		.og_prev{ background-position:0 -60px; left:0px;top:10px}
		.og_next{ background-position:0 0; right:4px;top:10px}
		