<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>图书管理系统</title>
    <meta name="keywords" content="图书管理系统"/>
    <meta name="description" content="图书管理系统"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/ace.min.css"/>
    <link rel="stylesheet" href="../css/manage.css"/
</head>
<body>
<div class="navbar navbar-default" id="navbar">
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <img src="../images/logo.png" width="25" height="25"/>
                <small>
                    图书管理系统
                </small>
            </a><!-- /.brand -->
        </div><!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="../images/user.png" alt="Jason's Photo"/>
                        <span class="user-info">
									<small>欢迎光临,</small>
									admin
								</span>
                        <i class="icon-caret-down"></i>
                    </a>
                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#">
                                <i class="icon-cog"></i>
                                设置
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon-user"></i>
                                个人资料
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="icon-off"></i>
                                退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.ace-nav -->
        </div><!-- /.navbar-header -->
    </div><!-- /.container -->
</div>

<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <div class="sidebar" id="sidebar">
            <ul class="nav nav-list">
                <li id="1000" class="active">
                    <a href="#">
                        <i class="icon-dashboard"></i>
                        <span class="menu-text"> 控制台 </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-book"></i>
                        <span class="menu-text"> 图书管理 </span>
                        <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li  id="1001">
                            <a href="#">
                                <i class="icon-double-angle-right"></i>
                                <span>添加图书</span>
                            </a>
                        </li>

                        <li  id="1002">
                            <a href="#">
                                <i class="icon-double-angle-right"></i>
                                <span>图书列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle">
                                <i class="icon-book"></i>
                                <span class="menu-text"> 图书记录 </span>
                                <b class="arrow icon-angle-down"></b>
                            </a>
                            <ul class="submenu">
                                <li id="1003">
                                    <a href="#">
                                        <span>归还借阅预定记录</span>
                                    </a>
                                </li>
                                <li id="1004">
                                    <a href="#">
                                        <span>图书损失记录</span>
                                    </a>
                                </li>
                                <li id="1005">
                                    <a href="#">
                                        <span>图书标签记录</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">
                        <i class="icon-user"></i>
                        <span class="menu-text"> 用户管理 </span>
                        <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li id="1006">
                            <a href="#">
                                <i class="icon-double-angle-right"></i>
                                <span>添加用户</span>
                            </a>
                        </li>
                        <li id="1007">
                            <a href="#">
                                <i class="icon-double-angle-right"></i>
                                <span>用户列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" >
                        <i class="icon-credit-card"></i>
                        <span class="menu-text"> 信用值管理</span>
                        <b class="arrow icon-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li id="1008">
                            <a href="#">
                                <i class="icon-double-angle-right"></i>
                                <span>信用值设置</span>
                            </a>
                        </li>
                        <li id="1009">
                            <a href="#">
                                <i class="icon-double-angle-right"></i>
                                <span>信用值记录</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="1010">
                    <a href="#">
                        <i class="icon-comment"></i>
                        <span class="menu-text"> 意见反馈 </span>
                    </a>
                </li>
            </ul><!-- /.nav-list -->
            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left"
                   data-icon2="icon-double-angle-right"></i>
            </div>
        </div>
        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="#">图书管理</a>
                    </li>
                    <li class="active">图书列表</li>
                </ul><!-- .breadcrumb -->
            </div>
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        <span class="list-name">
                            图书列表
                        </span>
                        <small>
                            <i class="icon-double-angle-right"></i>
                            查看
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row controller">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="alert alert-block alert-success">
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="icon-remove"></i>
                            </button>
                            <i class="icon-ok green"></i>
                            欢迎使用图书管理系统
                        </div>
                        <div class="row">
                            <div class="col-sm-12 infobox-container">
                                <div class="infobox infobox-green  ">
                                    <div class="infobox-icon">
                                        <i class="icon-book"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number">21</span>
                                        <div class="infobox-content">图书数目</div>
                                    </div>
                                </div>
                                <div class="infobox infobox-blue  ">
                                    <div class="infobox-icon">
                                        <i class="icon-user"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number">11</span>
                                        <div class="infobox-content">总人数</div>
                                    </div>
                                </div>
                                <div class="infobox infobox-pink  ">
                                    <div class="infobox-icon">
                                        <i class="icon-shopping-cart"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number">12</span>
                                        <div class="infobox-content">借书记录</div>
                                    </div>
                                </div>

                                <div class="infobox infobox-red">
                                    <div class="infobox-icon">
                                        <i class="icon-comments"></i>
                                    </div>

                                    <div class="infobox-data">
                                        <span class="infobox-data-number">7</span>
                                        <div class="infobox-content">意见</div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /row -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
                <div class="row add">
                    <div id="user-profile-3" class="user-profile row">
                        <div class="col-sm-offset-1 col-sm-10">
                            <form class="form-horizontal">
                                <div class="tabbable">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-4">
                                            <div id="uploadBox">
                                            </div>
                                            <div id="template" class="hidden">
                                                <li>
                                                    <img src=""/>
                                                    <span class="progress"></span>
                                                    <span class="percentage"></span>
                                                </li>
                                            </div>
                                        </div>

                                        <div class="vspace-xs"></div>

                                        <div class="col-xs-12 col-sm-8">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">书名</label>

                                                <div class="col-sm-8">
                                                    <input class="col-xs-12 col-sm-10" type="text" id="form-field-username" placeholder="书名" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">出版社</label>

                                                <div class="col-sm-8">
                                                    <input class="col-xs-12 col-sm-10" type="text" id="form-field-publisher" placeholder="出版社" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">作者</label>

                                                <div class="col-sm-8">
                                                    <input class="col-xs-12 col-sm-10" type="text" id="form-field-writer" placeholder="作者" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">页数</label>

                                                <div class="col-sm-8">
                                                    <input class="col-xs-12 col-sm-10" type="text" id="form-field-page" placeholder="页数" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">图书价格</label>

                                                <div class="col-sm-8">
                                                    <input class="col-xs-12 col-sm-10" type="text" id="form-field-price" placeholder="图书价格" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">书籍数量</label>

                                                <div class="col-sm-8">
                                                    <input class="col-xs-12 col-sm-10" type="text" id="form-field-num" placeholder="书籍数量" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-username">图书描述</label>

                                                <div class="col-sm-8">
                                                    <textarea class="col-xs-12 col-sm-10" type="text" rows="7" placeholder="图书描述"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /span -->
                    </div><!-- /user-profile -->
                </div>
                <div class="row list">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <div id="sample-table-2_wrapper" class="dataTables_wrapper" role="grid">
                                        <table id="sample-table-2"
                                               class="table table-striped table-bordered table-hover dataTable"
                                               aria-describedby="sample-table-2_info">
                                            <thead>
                                            <tr>
                                                <th class="center">
                                                    <label>
                                                        <input type="checkbox" class="ace" id="all"/>
                                                        <span class="lbl"></span>
                                                    </label>
                                                </th>
                                                <th>书名</th>
                                                <th>图片</th>
                                                <th>描述</th>
                                                <th>作者</th>
                                                <th>出版社</th>
                                                <th>价格</th>
                                                <th>图书数目</th>
                                                <th>可借数量</th>
                                                <th>预约人数</th>
                                                <th>添加人</th>
                                                <th>添加时间</th>
                                                <th>修改人</th>
                                                <th>修改时间</th>
                                                <th>状态</th>
                                                <th>
                                                    <div class="ui-pg-div"><span class="ui-icon icon-search orange"  data-toggle="modal" data-target="#search-model"></span></div>
                                                    <div class="modal fade" id="search-model" tabindex="-1" role="dialog" >
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="search">
                                                                        <span class="ui-icon icon-search search-color" ></span>
                                                                    </button>
                                                                    <input class="modal-title" type="text" placeholder="搜索..." />
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                    </div><!-- /.modal -->
                                                    <div class="ui-pg-div"><span class="ui-icon icon-trash red" id="trash"></span></div>
                                                </th>
                                            </tr>
                                            </thead>


                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            <tr class="odd">
                                                <td class="center">
                                                    <label>
                                                        <input type="checkbox" class="ace" />
                                                        <span class="lbl"></span>
                                                    </label>
                                                </td>
                                                <td>疯狂java讲义</td>
                                                <td><img src="../images/book_2/rBEhWVMqvpgIAAAAAA5RfcNEjhYAAKapwFD6goADlGV880.jpg" width="60" height="60"/></td>
                                                <td>疯狂java讲义</td>
                                                <td>疯狂java讲义</td>
                                                <td>疯狂java讲义</td>
                                                <td>32.4</td>
                                                <td>4</td>
                                                <td>4</td>
                                                <td>0</td>
                                                <td>admin</td>
                                                <td>Feb 3</td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span class="label label-sm label-success">正在使用</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="dataTables_info" id="sample-table-2_info">
                                                    总数：320
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="dataTables_paginate paging_bootstrap">
                                                    <ul class="pagination">
                                                        <li class="prev disabled"><a
                                                                href="file:///G:/ace/ace/tables.html#"><i
                                                                class="icon-double-angle-left"></i></a></li>
                                                        <li class="active"><a
                                                                href="file:///G:/ace/ace/tables.html#">1</a></li>
                                                        <li><a href="file:///G:/ace/ace/tables.html#">2</a></li>
                                                        <li><a href="file:///G:/ace/ace/tables.html#">3</a></li>
                                                        <li class="next"><a href="file:///G:/ace/ace/tables.html#"><i
                                                                class="icon-double-angle-right"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container-inner -->
</div><!-- /.main-container -->
<script src="../js/jquery-1.10.2.min.js"></script>
<script src="../js/manage.js"></script>
<script src="../js/ace.min.js"></script>
<script src="../js/zoomify.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>