<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wtlib.base.dao.LabelInfoMapper" >
  <resultMap id="LabelInfoMap" type="com.wtlib.base.pojo.LabelInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="reviser" property="reviser" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, value, creator, create_time, reviser, update_time, data_status
  </sql>
  <select id="selectByBaseId" resultMap="LabelInfoMap" parameterType="java.lang.Integer" >
	SELECT
		t_label_info.*
	FROM
		t_book_base_label_info,
		t_label_info
	WHERE
		book_base_id = #{id}
	AND t_book_base_label_info.data_status = "001"
	AND t_label_info.data_status = "001"
	AND t_label_info.id = t_book_base_label_info.label_info_id
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    update t_label_info set data_status = "000",reviser = #{reviser}
    where id = #{id,jdbcType=INTEGER}
  </delete>
 
  <insert id="insert" parameterType="com.wtlib.base.pojo.LabelInfo" >
    insert into t_label_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="reviser != null" >
        reviser,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="dataStatus != null" >
        data_status,
      </if>
      create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="reviser != null" >
        #{reviser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        #{dataStatus,jdbcType=CHAR},
      </if>
      now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wtlib.base.pojo.LabelInfo" >
    update t_label_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviser != null" >
        reviser = #{reviser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        data_status = #{dataStatus,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wtlib.base.pojo.LabelInfo" >
    update t_label_info
    set user_id = #{userId,jdbcType=INTEGER},
      value = #{value,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      reviser = #{reviser,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      data_status = #{dataStatus,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>