<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wtlib.base.dao.UserLevelMapper" >

  <resultMap id="UserLevelMap" type="com.wtlib.base.pojo.UserLevel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="level_name" property="levelName" jdbcType="VARCHAR" />
    <result column="level_min_credit_value" property="levelMinCreditValue" jdbcType="INTEGER" />
    <result column="level_weight" property="levelWeight" jdbcType="double" />
    <result column="level_desc" property="levelDesc" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="reviser" property="reviser" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="CHAR" />
  </resultMap>

	<select id="selectAll" resultMap="UserLevelMap">
		select * from t_user_level
	</select>

  <delete id="deleteById" parameterType="java.lang.Integer" >
	UPDATE t_user_level SET data_status = "000" WHERE id = 1
  </delete>
 
  <insert id="insert" parameterType="com.wtlib.base.pojo.UserLevel" >
    insert into t_user_level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      
      <if test="levelName != null" >
        level_name,
      </if>
      <if test="levelMinCreditValue != null" >
        level_min_credit_value,
      </if>
      <if test="levelWeight != null" >
        level_weight,
      </if>
      <if test="levelDesc != null" >
        level_desc,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="reviser != null" >
        reviser,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="dataStatus != null" >
        data_status,
      </if>
        create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
     
      <if test="levelName != null" >
        #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="levelMinCreditValue != null" >
        #{levelMinCreditValue,jdbcType=VARCHAR},
      </if>
      <if test="levelWeight != null" >
        #{levelWeight,jdbcType=DOUBLE},
      </if>
      <if test="levelDesc != null" >
        #{levelDesc,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="reviser != null" >
        #{reviser,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatus != null" >
        #{"001",jdbcType=CHAR},
      </if>
        now()
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.wtlib.base.pojo.UserLevel" >
    update t_user_level
    <set >
      <if test="levelName != null" >
        level_name = #{levelName,jdbcType=VARCHAR},
      </if>
      <if test="levelMinCreditValue != null" >
        level_min_credit_value = #{levelMinCreditValue,jdbcType=VARCHAR},
      </if>
      <if test="levelWeight != null" >
        level_weight = #{levelWeight,jdbcType=DOUBLE},
      </if>
      <if test="levelDesc != null" >
        level_desc = #{levelDesc,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reviser != null" >
        reviser = #{reviser,jdbcType=INTEGER},
      </if>
      <if test="dataStatus != null" >
        data_status = #{dataStatus,jdbcType=CHAR},
      </if>
        update_time = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
 
</mapper>