<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wtlib.base.dao.UserMapper">

	<resultMap id="UserMap" type="com.wtlib.base.pojo.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="login_id" property="loginId" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="reviser" property="reviser" jdbcType="INTEGER" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="data_status" property="dataStatus" jdbcType="CHAR" />
	</resultMap>

	<update id="deleteById" parameterType="java.lang.Integer">
		UPDATE t_user_info,
		t_user
		SET t_user_info.data_status = "000",
		t_user.data_status = "000",
		t_user_info.reviser =#{reviser},
		t_user.reviser = #{reviser}
		WHERE
		t_user.id = #{id}
		AND t_user_info.user_id = t_user.id
	</update>

	<insert id="insert" parameterType="com.wtlib.base.pojo.User" useGeneratedKeys="true" keyProperty="id">
		insert into t_user
		<trim prefix="(" suffix=")" suffixOverrides=",">

			<if test="loginId != null">
				login_id,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="reviser != null">
				reviser,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			data_status,
			create_time
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="loginId != null">
				#{loginId,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=INTEGER},
			</if>
			<if test="reviser != null">
				#{reviser,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			"001",
			now()
		</trim>
	</insert>

	<update id="update" parameterType="com.wtlib.base.pojo.User">
		update t_user
		<set>
			<if test="loginId != null">
				login_id = #{loginId,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="reviser != null">
				reviser = #{reviser,jdbcType=INTEGER},
			</if>
			<if test="dataStatus != null">
				data_status = #{dataStatus,jdbcType=CHAR},
			</if>
			update_time = now()
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectAllById" parameterType="java.lang.String"
		resultType="com.wtlib.base.dto.UserWebDto">
		SELECT
		t_user_info.user_name,
		login_id as loginId,
		current_credit_value as
		currentCreditValue,
		t_user_info.user_level_id as
		userLevelId,
		t_user.creator,
		t_user.create_time as createTime,
		t_user.reviser as reviser,
		t_user.update_time as updateTime,
		t_user.data_status as dataStatus
		FROM
		t_user,
		t_user_info,
		t_user_level
		WHERE
		t_user.id = #{userId}
		AND t_user_info.user_id = t_user.id
		AND
		user_level_id = t_user_level.id and t_user.data_status = #{dataStatus} and t_user_info.data_status = #{dataStatus} and t_user_level.data_status = #{dataStatus};
	</select>

	<select id="selectByLoginId" parameterType="java.lang.String"
		resultType="com.wtlib.base.dto.UserWebDto">
		SELECT
		t_user_info.user_name,
		login_id as loginId,
		current_credit_value as
		currentCreditValue,
		t_user_info.user_level_id as
		userLevelId,
		t_user.creator,
		t_user.create_time as createTime,
		t_user.reviser as reviser,
		t_user.update_time as updateTime,
		t_user.data_status as dataStatus
		FROM
		t_user,
		t_user_info,
		t_user_level
		WHERE
		login_id = #{loginId}
		AND t_user.id = user_id
		AND user_level_id =
		t_user_level.id and  t_user.data_status = #{dataStatus} and  t_user_info.data_status = #{dataStatus} and  t_user_level.data_status = #{dataStatus};
	</select>

	<select id="confirm" parameterType="com.wtlib.base.pojo.User" resultType="java.lang.Integer">
		SELECT id FROM t_user WHERE
		login_id = #{user.loginId} AND password = #{user.password} and data_status = #{dataStatus}
	</select>
	

</mapper>