body{
    background: #eeeeee;
}
.container{
    display:flex;
    flex-direction:column;
    display:none;
}
.head{
    display:flex;
    flex-direction: row;
    justify-content:space-between;;
    background-color:#009688;
    padding:15px 12px;
}
.head-icon{
    color:white;
    font-size:24px;
}
.user-head{
    font-size:18px;
    color:white;
    line-height:31px;
}
.user-info{
    display: flex;
    flex-direction:row;
    justify-content:center;
    background-color:white;
}
.photo{
    height:100px;
    width:100px;
    padding:10px 0;
    border-radius:50%;
}
.user-info{
    display:flex;
    flex-direction: row;
    justify-content:center;
    background-color:white;
}
.user-text{
    padding:40px 35px;
}
#username{
    padding-bottom:5px;
}
#score{
    color: #aaaaaa;
}
.book-info{
    color: #aaaaaa;
    font-size:18px;
}
.user-book{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    background-color:white;
}
.book{
    text-align:center;
}
#borrow-num,#reservation-num,#limit-num{
    font-size:20px;
    padding:10px 0 15px 0;
}
.menu{
    margin-top:10px;
    background-color: white;
}
.menu-list{
    display:flex;
    flex-direction: row;
    border-bottom:#eeeeee solid 1px;
    justify-content: space-between;
    margin:0 10px 0 10px;
}
#history,#turn-back,#reservation,#advice{
    padding:15px;
    font-size:18px;
}
.fa-angle-right{
    font-size:24px !important;
    padding:15px !important;
}
.footer{
    position:absolute;
    bottom:0;
    width:100%;
}
.footer-menu{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    background-color: white;
}
.footer-icon{
    color:#009688;
    padding:15px;
    font-size:24px;
}
.history{
    display:none
}
.list-info{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border-bottom: solid 1px #eeeeee;
}
.book-photo{
    width:80px;
    height:80px;
    padding:10px 0;
    border-radius: 50%;
}
.book-text{
    padding-top:10px;
}
#back{
    margin:10px 0 10px 90px;
    padding:5px 10px;
    background-color:#FFC107;
    border-radius: 0.2em;
    text-align:center;
}
.return-back{
    display: none;
}
.area-mark{
    padding:10px;
    background-color: white;
}
.mark{
    padding:5px;
}
.area{
    width:100%;
    height:100px;
}