/*文本框样式*/
input[type=text],textarea{
  border:1px solid rgb(154, 43, 44);
  background-color:rgba(221, 218, 218,0.13);
  box-shadow: 0px 1px 1px #b19b9b;
  height:25px;
  font-size:13px;
}
input[type=text]:focus{
  border:1px solid rgb(154, 43, 44);
  background-color:rgba(221, 218, 218,0.03);
  box-shadow: 0px 0px 0px #b19b9b;
  height:25px;
  font-size:13px;
}
textarea:focus{ box-shadow: 0px 0px 0px #b19b9b; background-color:rgba(221, 218, 218,0.03);}
/*按钮样式*/
 input[type=button]{
  border:0px;
  height:25px;
  color:white;
  font-size:12px;	
  margin-bottom:3px;
  box-shadow: 1px 1px 2px #b19b9b;
  border-radius: 2px;
  background-color:rgb(233, 35, 35);
   background-color:rgb(154, 43, 44);
  }

 input[type=button]:hover{
		font-weight:bold;
		background-color:#ec8f8f;
		box-shadow: 0px 1px 1px #b19b9b;
		cursor:pointer;
	}
 input[type=button]:active{
		font-weight:bold;	
		background-color:rgb(243, 166, 166);
		box-shadow: 0px 0px 0px #b19b9b;
		cursor:pointer;
	}
	  
 input[type=button]:disabled{
		background-color:rgba(128, 128, 128, 0.62);	
 }
 
 /*复选框样式*/
 input[type=checkbox]{
	float:left;
	height:40px;
	margin:0px;
}

/*链接样式*/
a {
    color: #3c6e31;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: underline;
    text-decoration-style: solid;
}


/*放上去自动获得焦点*/
.toSetInput{
	width:100px;
	text-align:center;
	color:gray;
	readonly:expression(this.readOnly=true);
}

.toSetInput:hover{
	color:black;
}
.toSetInput:focus{
	color:black;
}

/*操作按钮样式类*/
.operation{
	height:50px;
	width:100px;
	margin-right:150px;
	font-size:20px;
	border:1px;
}
.operation:hover{
	background-color:#e6d6d6;	
	font-weight:bold;
}
.operation:active{
	background-color:#daa993;
	
}
.operation:disabled{
	background-color:gray;
}


/*div的首部样式*/
.headBar{
	margin: 5px 0.5% 5px 0.5%;
	display:inline-block;
	width:99%;
}
.headBar span {
	width:98%;
	display:inline-block;
}
/*搜索样式*/
.headBar .searchText{
	float:left
	
}
.headBar .searchButton{
	width:15%;height:25px;
	border-radius: 0px;
	float:left	
}
/*div的尾部样式*/
.footBar{
	border-top:2px solid gray;
	height:9%;
 }
.footBar>input{
	margin:10px 15px 0px 0px ;
	float:right;
	font-size:11px;
}
/*分页控件div样式*/
.pageNation{
	position: absolute; 
	bottom: 0px; 
	width: 100%; 
	text-align: center; 
	height: 40px; 
}
.page_link_list_font7{	
	display: block;
	width: 95%; 
	margin: 5px auto;
}
.page_link_list_font7>div{	
	display: block;
	width: 100%; 
	margin: 5px auto;
	text-align:center;
}


/*设置表格的样式*/
.list{
	width:100%;
	font-size:13px;
  }
.list tbody tr{
  }
.list tbody td{
	text-align:center;
	font-size:12px;
	height:40px;
    border-bottom:1px dashed gray;
  }
.list td div{
  	text-align:center;
	font-size:12px;
  }
.list img{
  	float:left;
	width:40px;
	margin-left:10px;
 }

/*表格头样式*/
.list_head,.list thead{
	background-color:rgb(154, 43, 44);
	color:white;
	font-size:15px;
	font-weight:bold;
	height:40px;
}
.list_head  th,.list thead th{
	border-top:1px solid black;
	border-bottom:1px dashed gray;
}
/*tittle 页面的标题*/
.px_title h2{
	text-align:center;
}
/*左侧表格头设置*/
.left_tittle{
		background-color:rgb(154, 43, 44);
		color:white;
		font-size:15px;
		font-weight:bold;
}

/*报表样式*/
table.gridTable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	
}
table.gridTable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridTable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
	text-align:center;
}


