<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/ico.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/home.css">
</head>
<body>
<div class="head">
    <div class="search">
        <div class="icon-search fa-icon"></div>
        <input type="text" value="搜索"/>
    </div>
    <span class="info-head">书本详情</span>
</div>

<div class="container">
    <div class="list-info">
        <img class="book-photo" src="../../static/img/timg.jpg"/>
        <div class="book-text">
            <div class="title">疯狂java讲义</div>
            <div class="description">出版社：华中科技大学出版社</div>
            <div class="description">作者：哈哈哈哈</div>
        </div>
    </div>
    <div class="list-info">
        <img class="book-photo" src="../../static/img/timg.jpg"/>
        <div class="book-text">
            <div class="title">疯狂java讲义</div>
            <div class="description">出版社：华中科技大学出版社</div>
            <div class="description">作者：哈哈哈哈</div>
        </div>
    </div>
    <div class="list-info">
        <img class="book-photo" src="../../static/img/timg.jpg"/>
        <div class="book-text">
            <div class="title">疯狂java讲义</div>
            <div class="description">出版社：华中科技大学出版社</div>
            <div class="description">作者：哈哈哈哈</div>
        </div>
    </div>
    <div class="list-info">
        <img class="book-photo" src="../../static/img/timg.jpg"/>
        <div class="book-text">
            <div class="title">疯狂java讲义</div>
            <div class="description">出版社：华中科技大学出版社</div>
            <div class="description">作者：哈哈哈哈</div>
        </div>
    </div>
</div>
<div class="info">
    <div class="list-info">
        <img class="info-photo" src="../../static/img/timg.jpg"/>
        <div class="info-text">
            <div class="title">疯狂java讲义</div>
            <div class="description">出版社：华中科技大学出版社</div>
            <div class="description">作者：哈哈哈哈</div>
            <div class="descripstion">价格：哈哈哈哈</div>
            <div class="description">数目：哈哈哈哈</div>
            <div class="description">页数：哈哈哈哈</div>
        </div>
    </div>
    <div class="book-description">
        <div class="title">图书介绍</div>
        <div class="description">巴拉巴拉巴拉巴拉巴拉</div>
    </div>
    <div class="user">
        <div class="user-div"><img class="user-photo" src="../../static/img/timg.jpg"/></div>
        <div class="user-mark">
            <div class="user-info">我有故事谁有酒？</div>
            <div class="time">2019-06-04</div>
            <div class="content">不拉不拉不拉</div>
        </div>
        <div class="user-div"><img class="user-photo" src="../../static/img/timg.jpg"/></div>
        <div class="user-mark">
            <div class="user-info">我有故事谁有酒？</div>
            <div class="time">2019-06-04</div>
            <div class="content">不拉不拉不拉</div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer-menu">
        <a class="icon-contacts footer-icon" href="home.html"></a>
        <a class="icon-collections footer-icon" href="storage.html"></a>
        <a class="icon-person footer-icon" href="myself.html"></a>
        <a class="icon-settings footer-icon" href="settings.html"></a>
    </div>
</div>
</body>
</html>