<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/ico.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/myself.css">
</head>
<body>
    <div class="head">
        <span class="icon-back head-icon"></span>
        <span class="user-head margin-center">用户中心</span>
        <span class="head-icon icon-delete"></span>
        <span class="icon-check head-icon"></span>
    </div>
    <div class="container">
        <div class="user">
            <div class="user-info">
                <img class="photo" src="../../static/img/timg.jpg"/>
                <div class="user-text">
                    <div id="username">我有故事谁有酒？</div>
                    <div id="score">信用度：1000</div>
                </div>
            </div>
            <div class="user-book">
                <div class="book">
                    <div class="book-info">借阅中</div>
                    <div id="borrow-num">3</div>
                </div>
                <div class="book">
                    <div class="book-info">预约中</div>
                    <div id="reservation-num">0</div>
                </div>
                <div class="book">
                    <div class="book-info">逾期</div>
                    <div id="limit-num">1</div>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="menu-list">
                <div id="history">借阅历史</div>
                <span class="fa fa-angle-right"></span>
            </div>
            <div class="menu-list">
                <div id="turn-back">借阅归还</div>
                <span class="fa fa-angle-right"></span>
            </div>
            <div class="menu-list">
                <div id="reservation">我的预约</div>
                <span class="fa fa-angle-right"></span>
            </div>
            <div class="menu-list">
                <div id="advice">意见反馈</div>
                <span class="fa fa-angle-right"></span>
            </div>
        </div>
    </div>
    <div class="history">
        <div class="list-info">
            <div class="photo-info">
                <img class="book-photo" src="../../static/img/timg.jpg"/>
                <div>
                    <div class="book-name">疯狂java讲义</div>
                    <div class="book-time">2017-04-04 - 2017-03-05</div>
                    <div class="book-status">已归还</div>
                </div>
            </div>
            <div class="book-extra">
                <div class="advice-btn">评价</div>
            </div>
        </div>
        <div class="list-info">
            <div class="photo-info">
                <img class="book-photo" src="../../static/img/timg.jpg"/>
                <div>
                    <div class="book-name">疯狂java讲义</div>
                    <div class="book-time">2017-04-04 - 2017-03-05</div>
                    <div class="book-status">已归还</div>
                </div>
            </div>
            <div class="book-extra">
                <div class="advice-btn">评价</div>
            </div>
        </div>
    </div>
    <div class="return-back">
        <div class="list-info">
            <div class="photo-info">
                <img class="book-photo" src="../../static/img/timg.jpg"/>
                <div>
                    <div class="book-name">书名：疯狂java讲义</div>
                    <div class="book-time">归还日期：2017-04-04</div>
                </div>
            </div>
            <div class="book-extra">
                <div class="confirm-btn">确认</div>
            </div>
        </div>
    </div>
    <div class="reservation">
        <div class="list-info">
            <div class="photo-info">
                <img class="book-photo" src="../../static/img/timg.jpg"/>
                <div>
                    <div class="book-name">疯狂java讲义</div>
                    <div class="book-status">作者：达科特</div>
                    <div class="book-status">出版社：清华大学出版社</div>
                    <div class="book-time">出版年：2015-6-9</div>
                </div>
            </div>
            <div class="book-extra">
                <div class="reservation-btn">取消预约</div>
            </div>
        </div>
    </div>
    <div class="advice">
        <div class="list-info">
            <div class="photo-info">
                <img class="book-photo" src="../../static/img/timg.jpg"/>
                <div>
                    <div class="book-name">疯狂java讲义</div>
                    <div class="book-time">2017-04-04 - 2017-03-05</div>
                </div>
            </div>
        </div>
        <div class="area-mark">
            <span class="mark">评论</span>
            <textarea class="area">
            </textarea>
        </div>
    </div>
    <div class="footer">
        <div class="footer-menu">
            <a class="icon-contacts footer-icon" href="home.html"></a>
            <a class="icon-collections footer-icon" href="storage.html"></a>
            <a class="icon-person footer-icon" href="myself.html"></a>
            <a class="icon-settings footer-icon" href="settings.html"></a>
        </div>
    </div>
    <script src="../../static/js/jquery-1.3.2.min.js"></script>
    <script src="../../static/js/myself.js"></script>
</body>
</html>