<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/ico.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/storage.css">
</head>
<body>
    <div class="head">
        <span class="user-head">借阅仓库</span>
        <span class="icon-delete head-icon"></span>
        <span class="clear"></span>
    </div>
    <div class="book">
        <div class="book-list">
            <input type="checkbox" class="check"/>
            <div class="book-name">javascript 巴拉巴拉巴拉巴拉巴拉</div>
        </div>
        <div class="book-list">
            <input type="checkbox" class="check"/>
            <div class="book-name">javascript 巴拉巴拉巴拉巴拉巴拉</div>
        </div>
        <div class="book-list">
            <input type="checkbox" class="check"/>
            <div class="book-name">javascript 巴拉巴拉巴拉巴拉巴拉</div>
        </div>
        <div class="book-list">
            <input type="checkbox" class="check"/>
            <div class="book-name">javascript 巴拉巴拉巴拉巴拉巴拉</div>
        </div>
        <div class="book-list">
            <input type="checkbox" class="check"/>
            <div class="book-name">javascript 巴拉巴拉巴拉巴拉巴拉</div>
        </div>
    </div>
    <div class="footer">
        <div class="book-info">
            <div class="check-div">
                <input type="checkbox"/>
                <span class="check-all">全选</span>
            </div>
            <div id="total">合计：0本</div>
            <div id="submit">确认</div>
        </div>
        <div class="footer-menu">
            <a class="icon-contacts footer-icon" href="home.html"></a>
            <a class="icon-collections footer-icon" href="storage.html"></a>
            <a class="icon-person footer-icon" href="myself.html"></a>
            <a class="icon-settings footer-icon" href="settings.html"></a>
        </div>
    </div>
</body>
</html>