@CHARSET "UTF-8";

body{      
			background: url(../../images/systemImage/loginBack.jpg) no-repeat;
			background-size: 100%
		}
.mydiv{ 
   width:300px;  
   height:200px;  
   position:absolute;  
   left:50%;  
   top:50%;  
   margin:-100px 0 0 -150px 
} 